<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0f92a315-a4cc-46ac-943c-8c86afb6c33e" Alias="foodList" Level="1">
  <Info>
    <Name>Food list</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>FoodList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7210f349-831f-4797-b776-0bf1718a5c04">FoodList</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>