<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b6ecc357-292c-4c82-a866-8c2172c4ed63" Alias="frontPage" Level="1">
  <Info>
    <Name>FrontPage</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The frontpage of the site</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="9f4fe07a-b7fe-4a21-bffa-7d58cf5d13a4">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>FrontPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="176f6317-878a-4b30-a307-d2c83c5e347c">FrontPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f5b61e7d-5ecb-4e6d-ae45-f2d3d5165ba1" SortOrder="0">textPage</ContentType>
    <ContentType Key="0f92a315-a4cc-46ac-943c-8c86afb6c33e" SortOrder="1">foodList</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>84996a96-6e1f-441a-877e-41f3b6e27179</Key>
      <Name>Body text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is **bold**
This is *italic*
[This is an absolute link](https://google.com)
[This is a relative link](/umbraco#/media)
--
![Image alt text](https://media.giphy.com/media/bezxCUK2D2TuBCJ7r5/giphy.gif)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>634ba00f-fdbc-47ef-8ecc-9d2c7700bb26</Key>
      <Name>Cities</Name>
      <Alias>cities</Alias>
      <Definition>511793f3-c864-45b9-9094-fb29b571f75c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1cd0245b-0b5f-4a00-a9ad-f5388725f0d0</Key>
      <Caption>Content</Caption>
      <Alias>content/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f0d16872-ecda-4870-94d8-8614aac7297c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>