@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.TextPage>
@using ContentModels = FoodApp.Models.ContentModels;
@{
	Layout = null;
}

<div>
	@Model.Summary
</div>