<?xml version="1.0" encoding="utf-8"?>
<DataType Key="511793f3-c864-45b9-9094-fb29b571f75c" Alias="Dropdown Cities" Level="1">
  <Info>
    <Name>Dropdown Cities</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "London"
    },
    {
      "id": 2,
      "value": "Paris"
    },
    {
      "id": 3,
      "value": "New York"
    },
    {
      "id": 4,
      "value": "Copenhagen"
    }
  ],
  "Multiple": true
}]]></Config>
</DataType>