<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee7ea5f9-a037-4cb3-8b12-08f01ea2e56c" Alias="About" Level="2">
  <Info>
    <Parent Key="59759af2-e44b-4dc1-abd5-0ebc5a062846">Front page</Parent>
    <Path>/FrontPage/About</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2022-12-30T13:56:20</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="648489e4-67aa-4ac7-b697-20cd8d028b4f">TextPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Hello there. Welcome. Welcome. Welcome.</p>]]></Value>
    </bodyText>
    <summary>
      <Value><![CDATA[Hello there. Welcome.]]></Value>
    </summary>
  </Properties>
</Content>