<?xml version="1.0" encoding="utf-8"?>
<Content Key="62b1ce7e-1169-4210-aa2c-1734d2850e6e" Alias="List of food" Level="2">
  <Info>
    <Parent Key="59759af2-e44b-4dc1-abd5-0ebc5a062846">Front page</Parent>
    <Path>/FrontPage/ListOfFood</Path>
    <Trashed>false</Trashed>
    <ContentType>foodList</ContentType>
    <CreateDate>2023-01-30T13:59:38</CreateDate>
    <NodeName Default="List of food" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7210f349-831f-4797-b776-0bf1718a5c04">FoodList</Template>
  </Info>
  <Properties />
</Content>